
<br/>
<br/>
<div type="text" style="color:white;text-align:center;">
<form  ng-submit="getGame.search(searchKey)" method="get">
  <input ng-model="searchKey" name="searchKey" value="searchKey"/></a>
  
    <input type="submit" value="search"    /></a>

</form>
  

</div>

  <div  ng-repeat="game in getGame.games" >
    <ul>
      <a ng-href="#!/games/{{game._id}}">{{game.title}}</a>
    </ul>
  </div>
  <form  ng-submit="getGame.nextPage()" method="get">
    <a  style="color:white;text-align:center;">
      <input type="submit" value="next page"  /></a>
    </a> <br/>
  </form>
 

  
  

