<div style="color: blue; text-align: center" ng-controller="getFeedback as vm">
  <form
    name="vm.feedback"
    ng-submit="vm.addfeedback()"
    action="/html/tags/html_form_tag_action.cfm"
    method="post"
  >
    <div>
      <label for="fname">First name:</label><br />
      <input ng-model="vm.name" type="text" id="fname" name="fname" /><br />
      <textarea
        ng-model="vm.feedback"
        name="feedback"
        id="feedback"
        style="font-family: sans-serif; font-size: 1.2em"
      >
      </textarea>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
